<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Sentiment Analyzer</title>
  </head>

  <body>
    <main>
      <div class="container">
        <p>Enter a URL of an article / a blog to discover its sentiment.</p>
        <section>
          <form id="form"  onsubmit="return Client.handleSubmit(event)">
            <label for="article-url">URL</label>
            <input id="article-url" type="text" name="input" value="" placeholder="Enter Article URL here" />
            <button
              type="submit"
              class="btn-submit"
            >
              Submit
            </button>
          </form>
        </section>

        <section >
        <p id="error"></p>
        </section>

        <section>
          <strong>Form Results:</strong>
          <div id="polarity"></div>
          <div id="agreement"></div>
          <div id="subjectivity"></div>
          <div id="confidence"></div>
          <div id="irony"></div>
          <div id="score_tag"></div>
        </section>
      </div>
    </main>
    <!-- <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js')
            .then(registration => {
              console.log('Service Worker registered with scope:', registration.scope);
            })
            .catch(error => {
              console.error('Service Worker registration failed:', error);
            });
        });
      }
    </script> -->
  </body>
</html>
